<script>
      'use strict';
      //below is client side js from soundlcoud. will be used when soundcloud gets back with our client id access
      //<script src="https://connect.soundcloud.com/sdk/sdk-3.1.2.js">
      //SC.initialize({
      //  client_id: 'YOUR_CLIENT_ID',
      //  redirect_uri: 'http://example.com/callback'
      //});
      // initiate auth popup
      //SC.connect().then(function() {
      //  return SC.get('/me');
      //}).then(function(me) {
      //alert('Hello, ' + me.username);
      // });
       
      // Upload to SoundCloud
      // When you have recorded a song with the SDK or any Web Audio application,
      // you can upload it if it's in a format that is accepted
      //SC.upload({
      // file: theBlob, // a Blob of your WAV, MP3...
      //  title: 'This is my sound'
      //});
      
      
      angular.module("myApp", [])
          .controller("scoreCtrl", function ($scope, $http) {
            
      var formatMeasures = function(measures, mPerLine=5) {
        var newArray = [];
        for(var x=0;x<measures.length;x++) {
          if(x%mPerLine===0) {
            newArray.push("\n" + measures[x]);
          }
          else {
            newArray.push(measures[x]);
          }
        }
        return newArray.join("|");
      }
      function dataURItoBlob(dataURI) {
      // convert base64/URLEncoded data component to raw binary data held in a string
      var byteString;
      if (dataURI.split(',')[0].indexOf('base64') >= 0)
        byteString = atob(dataURI.split(',')[1]);
      else
        byteString = unescape(dataURI.split(',')[1]);

      // separate out the mime component
      var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];

      // write the bytes of the string to a typed array
      var ia = new Uint8Array(byteString.length);
      for (var i = 0; i < byteString.length; i++) {
        ia[i] = byteString.charCodeAt(i);
      }
      console.log(ia);
      return new Blob([ia], {type:mimeString});
      }
      var initialServerData = <%if(score.measures.length) { %> <%- JSON.stringify(score.measures) %> <% } else { %> [] <% } %>;
      var serverMeasures = initialServerData.sort(function(a,b) { return a.measureNumber - b.measureNumber}).map(function(a){ return a.measureValue});
      
      $scope.tune = {
        // investigate the weird apostrophe stuff (might involve changing %= to %- 
        title: '<%=score.name%>',
        tempo: <%=score.tempo%>,
        key:   '<%=score.key%>',
        time:  '<%=score.time%>',
        measures : serverMeasures
      }
      
      $scope.abcTune = "T:"+$scope.tune.title+
                       "\nM:"+$scope.tune.time+
                       "\nL:1/8"+
                       "\nK:"+$scope.tune.key + formatMeasures($scope.tune.measures) + "|";
      $scope.abcTune2 = "";
      
      $scope.tuneObjectArray = ABCJS.renderAbc("music", $scope.abcTune,{},{add_classes:true},{});
      console.log($scope.abcTune);
      $scope.measureNumber = 0;
      $scope.measureValue = new String("");
      $scope.selected = "create";
      $scope.songtitles = [];
      $scope.songlinks = [];
      $scope.selectedSong = "";
      $scope.searchText = "";
      $scope.chords = {};
      $scope.chord = "";
      $scope.youtubeurl = "";
      io.socket.on('connect', function() {
      io.socket.get('/score/joinRoom/'+<%=score.id%>, function(resData, jwres) {console.log(resData);});
      if (!io.socket.alreadyListeningToMeasures) {
        io.socket.alreadyListeningToMeasures = true;
        io.socket.on('message', function onServerSentEvent (msg) {
    	  console.log(msg);
          // Let's see what the server has to say...
          switch(msg.verb) {
    
            case 'created':
              $scope.tune.measures.push(msg.measure.measureValue);
              $scope.abcTune = "T:"+$scope.tune.title+
                       "\nM:"+$scope.tune.time+
                       "\nL:1/8"+
                       "\nK:"+$scope.tune.key + formatMeasures($scope.tune.measures) + "|";
              console.log($scope.abcTune);
              $scope.tuneObjectArray = ABCJS.renderAbc("music", $scope.abcTune,{},{add_classes:true},{});
              
              // (re-render)
              break;
    		    case 'updated':
    		      $scope.tune.measures[msg.measure[0].measureNumber] = msg.measure[0].measureValue;
    		      $scope.abcTune = "T:"+$scope.tune.title+
                       "\nM:"+$scope.tune.time+
                       "\nL:1/8"+
                       "\nK:"+$scope.tune.key + formatMeasures($scope.tune.measures) + "|";
              $scope.tuneObjectArray = ABCJS.renderAbc("music", $scope.abcTune,{},{add_classes:true},{});
    			    // handle update
					console.log($scope.abcTune);
    			    break;
    			  case 'destroyed':
    			    $scope.tune.measures.splice(msg.measureNumber,1);
    			    $scope.abcTune = "T:"+$scope.tune.title+
                       "\nM:"+$scope.tune.time+
                       "\nL:1/8"+
                       "\nK:"+$scope.tune.key + formatMeasures($scope.tune.measures) + "|";
              $scope.tuneObjectArray = ABCJS.renderAbc("music", $scope.abcTune,{},{add_classes:true},{});
			  console.log($scope.abcTune);
    			    break;
            default: return; // ignore any unrecognized messages
          }
        });
      }
    });
      $scope.toSoundCloud = function () {
      }
      $scope.search = function() {
        // Simple GET request example:
        $('.fa-spinner').show();
        $('.fa-spinner').addClass('fa-spin');
        $http({
          method: 'GET',
          url: '/score/search?title=' + $scope.searchText
        }).then(function successCallback(response) {
          console.log(response.data.muse.titles2);
          console.log(response.data.rudy.titles);
          var tits = [];
          var links = [];
          tits = response.data.muse['titles2'].concat(response.data.rudy['titles']);
          links = response.data.muse['links2'].concat(response.data.rudy['links']);
          $scope.songtitles = tits;
          $scope.songlinks = links;
    
          $('.fa-spinner').hide();
          $('.fa-spinner').removeClass('fa-spin');
        }, function errorCallback(response) {
          console.log(response);
        });
      }
      $scope.rudyRuckerApi = function() {
        
        var link = $scope.songlinks[$scope.songtitles.indexOf($scope.selectedSong)];
        if(link.startsWith('http://static.musescore.com')) {
          $http({
            method: 'GET',
            url: '/score/museScore?link=' + encodeURIComponent(link)
          }).then(function successCallback(response){
            console.log(response);
            $scope.abcTune2 = response.data;
            ABCJS.renderAbc('music2', $scope.abcTune2,{},{add_classes:true},{});
          });
        } else {
          $http({
            method: 'GET',
            url: '/score/selectFromApi?selected=' + encodeURIComponent(link)
            }).then(function successCallback(response) { 
              $scope.abcTune2 = response.data.abc;
              console.log(response);
              ABCJS.renderAbc('music2', $scope.abcTune2,{},{add_classes:true},{});
            });
        }
      }
      $scope.renderMidi2 = function () {
        var tuneObjectArray2 = ABCJS.renderMidi('midi2',$scope.abcTune2, {},{generateInline:true,qpm:100, generateDownload:true},{});
      }
      $scope.renderMidi = function() {
        var tuneObjectArray = ABCJS.renderMidi('midi',$scope.abcTune, {},{generateInline:true,qpm:100, generateDownload:true},{});
        var otherTune = $scope.tuneObjectArray[0];
        var output = document.getElementById('music');
        var tuneObject = tuneObjectArray[0];
        $('.abcjs-midi-start').click(function() { 
          ABCJS.startAnimation(output, otherTune, {hideFinishedMeasures:false,showCursor:true,bpm:100});
          for(var chor= 0; chor<$scope.chords.length; chor++) {
            
            var nextTime = 0;
            if(chor<$scope.chords.length-1) {
              nextTime = $scope.chords[chor+1].time;
              
            }
            
            setTimeout(function(theChord, next) {
              
              $scope.chord = theChord.chord;
              $scope.$apply();
              
            },$scope.chords[chor].time*1000, $scope.chords[chor], nextTime);
          
          
         }
        });
        
        var blob = dataURItoBlob($('.download-midi a').attr('href'));
        var fd = new FormData(document.forms[0]);
        var xhr = new XMLHttpRequest();

        fd.append('myFile.mid', blob);
        xhr.open('POST', '/score/convertMidi', true);
        
        xhr.onload = function (oEvent) {
      
          var text = xhr.response.slice(10);
          text = text.substring(0, text.length-1);
          text = text.split('\\');
          text = text.join('');
          console.log(JSON.parse(text));
          $scope.chords = JSON.parse(text).chords_result.chords;// Note: not oReq.responseText
        };
        xhr.send(fd);
      }
      $scope.foct = function () {
        var file = $('#myfile')[0].files[0];
        console.log(file);
    
        var fd = new FormData(document.forms[1]);
        var xhr = new XMLHttpRequest();

        fd.append('myfile', file);
        xhr.open('POST', '/score/upload', true);
        xhr.onload = function(oEvent) {
          $scope.abcTune2 = JSON.parse(xhr.response);
          
          ABCJS.renderAbc('music2',$scope.abcTune2,{},{add_classes:true},{});
        }
        xhr.send(fd);
        
  
      }
      $scope.getYoutube = function(url) {
        $http({
            method: 'GET',
            url: '/score/getYoutube?url=' + encodeURIComponent(url)
            }).then(function successCallback(response) { 
              //$scope.abcTune2 = response.data.abc;
              console.log(response);
              //ABCJS.renderAbc('music2', $scope.abcTune2,{},{add_classes:true},{});
            });
      }
      $scope.kickoff = function() {
        console.log($scope.selected);
        switch($scope.selected) {
          case 'create':
            $scope.create();
            break;
          case 'update':
            $scope.update();
            break;
          case 'destroy':
            $scope.destroy();
            break;
        }
        
      }
      $scope.update = function() {
      	io.socket.post('/measure/update', {owner: <%=score.id%>, measureNumber: $scope.measureNumber-1, measureValue: $scope.measureValue }, function (resData, jwRes) {
    	  });
    
      }
      $scope.create = function() {
      	io.socket.post('/measure/create', {owner: <%=score.id%>, measureNumber: $scope.tune.measures.length, measureValue: $scope.measureValue}, function (resData, jwRes) {
      	});
      }
      $scope.destroy = function() {
        io.socket.post('/measure/destroy', {owner: <%=score.id%>, measureNumber: $scope.measureNumber-1}, function(resData, jwRes) {
        });
      };
    });
</script>
<div ng-app="myApp" ng-controller="scoreCtrl">
<div id="rudyruckerapi" style="float:right;max-width:50%;">
  <div id="midi2"></div>
  <div id="warnings2"></div>
  <div id="music2"></div>
  <div id="paper02"></div>
  <div id="paper12"></div>
  <div id="paper22"></div>
  <div id="paper32"></div>
</div>
<div id="apiside" style="float:right;max-width:50%;">
  <div id="midi2"></div>
  <div id="warnings2"></div>
  <div id="music2"></div>
  <div id="paper02"></div>
  <div id="paper12"></div>
  <div id="paper22"></div>
  <div id="paper32"></div>
</div>
<div id="mainEditor">
<div id="midi"></div>
<div id="warnings"></div>
<div id="music"></div>
<div id="paper0"></div>
<div id="paper1"></div>
<div id="paper2"></div>
<div id="paper3"></div>
</div>

<div id="controls" style="max-width=50%">
  <div class="container">
    <div class="row">
      <div class="col">
        
        Create<input type="radio" ng-model="selected" name="action" value="create" id="create">
        
        Update<input type="radio" ng-model="selected" name="action" value="update" id="update">
        
        Destroy<input type="radio" ng-model="selected" name="action" value="destroy" id="destroy">
        
      </div>
      <div class="col">
      Measure Number<input type="number" ng-disabled="selected==='create'" ng-model="measureNumber" id="measureNumber" required>
      
      Measure Value<input type="text" ng-disabled="selected==='destroy'" ng-model="measureValue" id="measureValue" required>
      </div>
      <div class="col">
      <button ng-click="kickoff()">Go</button><br>
      Look for Inspiration<input type="text" id="searchText" ng-model="searchText">
      
      <button ng-click="search()">Search</button>
      <i class="fa fa-spinner" style="display:none" style="font-size:24px"></i><br>
      <select ng-model="selectedSong" ng-options="x for x in songtitles" ng-show="songtitles.length>0"></select>
      <input type="submit" ng-click="rudyRuckerApi()">
      <button type="button" ng-click="renderMidi()">Listen to MIDI</button>
      <button type="button" ng-click="renderMidi2()">Listen to MIDI2</button>
    
      <input type="file" name="myfile" id="myfile" accept="audio/mp3">
      <button ng-click="foct()">Submit</button>
      <input type="text" ng-model="youtubeurl">
      <button ng-click="getYoutube(youtubeurl)">Get music from YouTube video</button>
      </div> <!-- end col -->
    </div> <!-- end row -->
  </div> <!-- end container -->
</div>
<div id="chord">
  <h3>{{ chord }}</h3>
</div>
<div id="timer"></div>
<a href="http://abcnotation.com/wiki/abc:standard:v2.1">Learn how ABC notation works, ABC documentation</a>
</div>
